<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>First Thymeleaf Page</title>
</head>
<div th:include="menu :: fragment"></div>
<body>

	

	<p th:text="${ message } + ' from Nice' "></p>
	<p th:text="| ${ message } from Marseille |"></p>
	<p th:text="'Bonjour ' + |${ personne.prenom } ${personne.nom } |"></p>

	<div th:each="perso : ${ personnes }">
		<span th:text="${ perso.nom }"></span> <span
			th:text="${ perso['prenom'] }"></span>
	</div>
	<p>----------------------------------------------</p>
	<div th:each="perso, status : ${ personnes }">
		<span th:text="${ status.index }"></span> <span
			th:text="${ status.count }"></span> <span th:text="${ perso.nom }"></span>
		<span th:text="${ perso['prenom'] }"></span>
	</div>
	<p>----------------------------------------------</p>
	<div th:each="perso : ${ personnes }">
		<span th:text="${ persoStat.index }"></span> <span
			th:text="${ persoStat.count }"></span> <span th:text="${ perso.nom }"></span>
		<span th:text="${ perso['prenom'] }"></span>
	</div>

	<div th:with="variable=${ message.length() }">
		<p>
			Le message de bienvenue contient <span th:text="${ variable }">
			</span> lettres.
		</p>
	</div>

	<div
		th:with="variable=${ message.length() },parity=${ variable % 2 == 0 ? 'pair' : 'impair' }">
		<p>
			Le message de bienvenue contient <span th:text="${ variable }">
			</span> lettres, soit un nombre <span th:text="${ parity }"> </span> de
			lettres .
		</p>
	</div>
	<p>----------------------------------------------</p>
	<div th:object="${ personne }">
		<span th:text="*{ num }"></span> <span th:text="*{ nom }"></span> <span
			th:text="*{ prenom }"></span>
	</div>

	<div th:object="${ personne }">
		<span th:text="${ personne.num }"></span> <span
			th:text="*{ #object.nom }"></span> <span th:text="*{ prenom }"></span>
	</div>
	<p>----------------------------------------------</p>

	<a th:href="@{ thymeleaf }">Thymeleaf</a>

	<p>----------------------------------------------</p>


</body>
</html>